.App {
  text-align: center;
}
html {
  background: #E5f4EC;
}
* {
  margin: 0;
}
li {
  list-style: none;
  border: 10px solid #E5f4EC;
}
a {
  color: #3B5249;
  text-decoration: none;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
